html,
body {
    background: sienna;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

table {
    border-collapse: collapse;
    background: seagreen;
    margin: 45px auto;
}

td {
    width: 100px;
    height: 100px;
    padding: 15px;
    border: 2px solid black;
    cursor: pointer;

    &:hover .cell[data-cell-value="PLAYABLE"] {
        background: brown;
    }
}

.cell {
    border: 2px solid transparent;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 150ms ease;

    &[data-cell-value="BLACK"] {
        background: black;
    }
    &[data-cell-value="WHITE"] {
        background: whitesmoke;
    }
    &[data-cell-value="PLAYABLE"] {
        background: crimson;
        width: 40%;
        height: 40%;
    }
}

.current-player {
    color: white;
    text-align: center;
    font-size: 30px;
}
